pip>=19.0
matplotlib>2.0.0
numpy>=1.14.0
torch>=1.0.0
torchvision
nibabel>=2.3.0
h5py>=2.8.0
tensorboardX>=1.2
tensorflow>=1.7.0
https://github.com/shayansiddiqui/nn-common-modules/releases/download/v1.0/nn_common_modules-1.0-py2.py3-none-any.whl
https://github.com/abhi4ssj/squeeze_and_excitation/releases/download/v1.0/squeeze_and_excitation-1.0-py2.py3-none-any.whl